
.box-pie{
    grid-area: pie;
    margin: 0px;
    background-color: #0B090A;
    width: 100%;
    display: flex;
    color: #f8f5f5; 
}

.pie p{
    width: 100%;
    color: #f8f5f5;
    font-size: 10px;
    text-align: left;
}

.pie .small{
    width: 100%;
    font-size: 12px;
    text-align: right;
}


