/* INDEX */

.logo{
    text-shadow: 0px 0px 50px #fff;
    width: 20%;

    justify-items: center;

}


.imgprincipal2{
    justify-items: center;
    width: 100%;
    grid-area: imgp2;
}


.imagen2{
width: 100%;
}


