/* INDEX */

.logo{
    width: 20%;
    text-shadow: 0px 0px 5px #fff;

}

.imgprincipal{
    justify-items: center;
    width: 100%;
    grid-area: imgp;
}
.imgprincipal2{
    justify-items: center;
    width: 100%;
    grid-area: imgp2;
}


.imagen2{
width: 100%;
}


