/* INDEX */


.logo1{
    width: 6%;
    height: 6%;
    justify-self: center;
    align-self: center;
}
.logo2{
    width: 10%;
    height: 10%;
    justify-self: center;
    align-self: center;
}

.bandera-arg{
    width:5%;
    justify-self: center;
    align-self:center;
}


