body {
    background: #030303;
}
    .grid-container1{
        display: grid;
       height: 100vh;
        grid-template-areas: 
        "header header header header"
        "main main main main"
        "pie pie pie pie";
        row-gap: 0px;
        grid-template-rows:0px auto auto auto auto auto auto;
        grid-template-columns: repeat(4, 2fr);
        justify-content: stretch;
        align-content: stretch;
        column-gap: 20px;
    }
        
    .grid-container2{
        display: grid;
       height: 100vh;
        grid-template-areas: 
        "header header header header"
        "main2 main2 main2 main2"
        "pp pp pb pb"
        "pie pie pie pie";
        row-gap: 0px;
        grid-template-rows:0px auto auto auto auto auto auto;
        grid-template-columns: repeat(4, 2fr);
        justify-content: stretch;
        align-content: stretch;
        column-gap: 20px;
    }

    .grid-container3{
        display: grid;
       height: 100vh;
        grid-template-areas: 
        "header header header header"
        "main3 main3 main3 main3"
        "pie pie pie pie";
        row-gap: 0px;
        grid-template-rows:0px auto auto auto auto auto auto;
        grid-template-columns: repeat(4, 2fr);
        justify-content: stretch;
        align-content: stretch;
        column-gap: 20px;
    }

    .grid-container4{
        display: grid;
       height: 100vh;
        grid-template-areas: 
        "header header header header"
        "main4 main4 main4 main4"
        "pie pie pie pie";
        row-gap: 0px;
        grid-template-rows:0px auto auto auto auto auto auto;
        grid-template-columns: repeat(4, 2fr);
        justify-content: stretch;
        align-content: stretch;
        column-gap: 20px;
    }

    .grid-container5{
        display: grid;
       height: 100vh;
        grid-template-areas: 
        "header header header header"
        "main5 main5 main5 main5"
        "form form form form"
        "pie pie pie pie";
        row-gap: 0px;
        grid-template-rows:0px auto auto auto auto auto auto;
        grid-template-columns: repeat(4, 2fr);
        justify-content: space-around;
        align-content: stretch;
        column-gap: 20px;
    }