.main-index{
    grid-area: main;
    height: 100vh;
    width: 100%;
    background-image: url(../images/foto1.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: end;
    display: flex;
    align-items:stretch;
    justify-items: stretch;
    align-content: center;
}

.main2{
    grid-area: main2;
    height: 100vh;
    width: 100%;
    background-image: url(../images/foto2.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: end;
    display: flex;
    align-items:stretch;
    justify-content: space-around;
    align-content: end;

}

.main3{
  grid-area: main3;
  height: 100vh;
  width: 100%;
  background-image: url(../images/fondo-negro-humo-foco.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items:center;
  justify-content: center;

}

.main4{
  grid-area: main4;
background-image: url(../images/hexa_dan_wave_10.jpg);
background-size: cover;
background-position: center;
    background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: end;
flex-wrap: wrap;


}

.main5{
  grid-area: main5;
  height: 100vh;
  width: 100%;
  display: flex;
 align-items:end;
 justify-content: center;
 align-content: end;
}

    
@media (min-width: 374px) and (max-width: 668px){
  .logo1{
   width: 100px;
  }

  .header{
    flex-direction: column;
    justify-content: center;
    align-items: center;


  }
  nav{
    justify-content: center;
    align-items: center;
  }
  .menu{
    flex-direction: column;
  }
  .nav ul li a {
    font-size: 0.6rem;

  }
  .titulo{
    font-size: 0.5rem;
  }

  .titulo2{
    font-size: 0.5rem;
  }
}

@media (min-width: 669px) and (max-width: 1024px){
  .nav ul li a {
    font-size: 0.9rem;
    
  }
}
@media (min-width: 1024px) {

}

