
nav{
 grid-area: menu;
}

.menu {
    display: flex;
    list-style: none;
    background:#030303;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-self: stretch;
    justify-content: center;
 }


nav ul li a {
    display:block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #f8f5f5;
    padding: 20px;
    transition:all .4s;
    width: 100%;
    justify-items: center;

}

nav ul li {
    display: inline-block;
    text-align: center;
}

nav ul li a:hover {
    background: #430203;
    text-shadow: 0px 0px 5px #fff;
}

.activo{
    background-color: #6e0809;
    text-shadow: 0px 0px 15px #fff;

}
