nav{
    .menu{
        list-style: none;
        background:$colorDeFondo;
        text-align: center;
        align-self: center;
        width: 100%;
        justify-self: center;
        display: flex;
                li{
                    display: inline-block;
                    text-align: center;
                        a{
                            text-decoration: none;
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 30px;
                            color: $colorTexto;
                            padding: 20px;
                            display: block;
                            transition:all 0.4s;
                            justify-content: center; 
    
                            &:hover{
                                background-color: $colorPrincipal;   
                            }
                        }
                       
               
                .activo{
                    background-color:$colorPrincipal; 
                }
            }
        } 
    }