.main-index{
    display: flex;
    grid-area: main;
    align-self: center;
    justify-content: center;

}
.main-est{
    display: flex;
    grid-area: main-e;
    align-self: center;
    justify-content: center;
}