/* INDEX */

.main{
    grid-area: main;
    display: flex;
    align-items: stretch;
    justify-content:center;

}

.imagen-separador{
    width: 100%;
    justify-items: stretch;

}
.imagen1{
width: 100%;
}


