


.box-estadisticas{
    display: flex;
    justify-content: center;
    align-self: start;
    flex-wrap: wrap;
    background-color: rgb(222, 218, 218);
    width: 70%;
    margin-top: 100px;
  
}

.tabla-estadisticas{
    width: 100%;
    border-collapse: collapse;


  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  thead {
    background-color:#6e0809;
    color: #f9f9f9;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  tbody td {
    border-bottom: 1px solid #ddd;
  }