
/* INDEX */
.info1{
    grid-area: info1;
    color: #f8f5f5;
    font-size: 50px;

 }
 
.titulos1{
    font-size: 50px;
    color: #f8f5f5;
}

.info-personal{
    font-size: 50px;
    font-family:'Karla', sans-serif; 
    color: #f8f5f5;

}

.parrafo-fisico{
    color: #f8f5f5;
    font-size: 50px;
    font-family:'Karla', sans-serif; 
    color: #f8f5f5;

}

.parrafo-bio{
    color: #f8f5f5;
    font-size: 50px;
    font-family:'Karla', sans-serif; 
    color: #f8f5f5;

}

.parrafo-bio2{
    color: #f8f5f5;
    font-size: 50px;
    font-family:'Karla', sans-serif; 
    color: #f8f5f5;

}
.estadisticas{
    grid-area: info2;
}