* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  /* background-color: #030303;
  background-image: radial-gradient(ellipse 400px 400px, rgb(108, 15, 15),  rgb(19, 5, 5)) */
  position: fixed;
  width: 100%;
  background-color: rgba(5, 5, 5, 0.5921568627);
  display: flex;
  justify-content: space-around;
  padding: 30px 20px;
  align-content: center;
}

.logo1 {
  grid-area: log1;
  width: 200px;
}

nav {
  grid-area: menu;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  position: relative;
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-self: stretch;
  width: 100%;
}

nav ul li a {
  display: block;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #f8f5f5;
  padding: 20px;
  transition: all 0.4s;
  justify-items: center;
}

nav ul li {
  text-align: center;
}

nav ul li a:hover {
  display: inline-block;
  background: #430203 50px;
  text-shadow: 0px 0px 5px #fff;
}

.activo {
  display: inline-block;
  background-color: #6e0809;
  text-shadow: 0px 0px 15px #fff;
}

/* INDEX */
.logo {
  text-shadow: 0px 0px 50px #fff;
  width: 20%;
  justify-items: center;
}

.imgprincipal2 {
  justify-items: center;
  width: 100%;
  grid-area: imgp2;
}

.imagen2 {
  width: 100%;
}

body {
  background: #030303;
}

.grid-container1 {
  display: grid;
  height: 100vh;
  grid-template-areas: "header header header header" "main main main main" "pp pp pb pb" "pie pie pie pie";
  row-gap: 0px;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-template-columns: repeat(4, 2fr);
  justify-content: stretch;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.grid-container2 {
  display: grid;
  height: 100vh;
  grid-template-areas: "header header header header" "menu menu menu menu" "imgp2 imgp2 main-e main-e " "pie pie pie pie";
  row-gap: 0px;
  grid-template-rows: 50px 70px auto auto auto auto auto;
  grid-template-columns: repeat(4, 2fr);
  justify-content: stretch;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.main-index {
  grid-area: main;
  background-image: url(../images/foto1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  padding: 0px;
  justify-content: stretch;
  height: 100vh;
  margin-top: 0px;
}

.main-est {
  display: flex;
  grid-area: main-e;
  align-self: center;
  justify-content: center;
}

.footer {
  grid-area: pie;
}

.titulos1 {
  background-color: none;
  color: #f8f5f5;
  align-items: center;
  justify-self: center;
  display: flex;
  justify-content: center;
}

.titulo-name {
  font-size: 50px;
  font-family: "Alfa Slab One", cursive;
  font-family: "Biryani", sans-serif;
  text-shadow: 0px 0px 5px #020202;
  text-align: center;
}

.titulo-prof {
  font-size: 50px;
  font-family: "Alfa Slab One", cursive;
  font-family: "Biryani", sans-serif;
  text-align: center;
  text-shadow: 0px 0px 5px #020202;
}

/* info */
.parrafo-box-pers {
  grid-area: pp;
  display: flex;
  background-image: radial-gradient(ellipse 400px 400px, rgba(108, 15, 15, 0.837), rgb(19, 5, 5));
  color: #f8f5f5;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.parrafo-pers {
  font-family: "Alfa Slab One", cursive;
  font-family: "Biryani", sans-serif;
  font-size: 40px;
  justify-items: center;
  align-items: center;
  text-justify: center;
  text-align: center;
  background-size: cover;
}

.parrafo-box-bio {
  grid-area: pb;
  display: flex;
  margin: 10px;
  padding: 10px;
  color: #f8f5f5;
  align-content: center;
  justify-content: center;
  background-color: rgb(48, 47, 47);
}

.parrafo-bio {
  font-family: "Alfa Slab One", cursive;
  font-family: "Biryani", sans-serif;
  font-size: 20px;
  justify-items: center;
  align-items: center;
  text-justify: center;
  text-align: justify;
}

.estadisticas {
  display: flex;
  margin: 30px;
  color: #f8f5f5;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.info2 {
  grid-area: info2;
}

/* 
 $breakpoints: (
    sm : 540px,
    md : 768px,
    lg : 1024px,
    xl : 1280px,
 );

 @mixin media-up($breakpoint){
    @if map-has-key($breakpoints , $breakpoint: ){
        @media screen and (min-width: map-get($breakpoints, $breakpoint)){
            @content;
    }

 }@else{

 }

    }

@include media-up(sm){

}
@include media-up(md){

}
@include media-up(lg){

}
@include media-up(xl){

}



 *//*# sourceMappingURL=main.css.map */