*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$colorDeFondo:#030303;
$colorPrincipal: #BA181B;
$colorTexto:#f8f5f5;

@import 'header';
@import 'imagenes';
@import 'layout';
@import 'main-pages';
@import 'footer';
@import 'text';
@import 'form';


/* 
 $breakpoints: (
    sm : 540px,
    md : 768px,
    lg : 1024px,
    xl : 1280px,
 );

 @mixin media-up($breakpoint){
    @if map-has-key($breakpoints , $breakpoint: ){
        @media screen and (min-width: map-get($breakpoints, $breakpoint)){
            @content;
    }

 }@else{
    
 }

    }

@include media-up(sm){

}
@include media-up(md){
    
}
@include media-up(lg){
    
}
@include media-up(xl){
    
}



 */